<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Inventory Management</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style>
body {
	background-color: #f8f9fa;
}

.container {
	max-width: 960px;
	margin-top: 2rem;
	padding: 2rem;
	background-color: #fff;
	border-radius: 0.5rem;
	box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

table {
	margin-top: 2rem;
    width: 100%;
   
}


.table th, .table td {
	vertical-align: middle;
}

.form-group {
	margin-top: 2rem;
}

#saveCategoryButton, #toggleButton {
	display: inline-block;
	margin-right: 10px; /* Add a little space between buttons */
}

.topnav {
	overflow: visible;
	background-color: #333;
	display: flex;
	justify-content: space-around;
	align-items: center;
	position: sticky;
    top: 0;
    width: 100%;
}

.topnav a {
	float: left;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 20px 16px; /* Increase the vertical padding */
	text-decoration: none;
	font-size: 17px;
}

.topnav a:hover {
	background-color: #ddd;
	color: black;
}

.topnav a.active {
	background-color: royalblue;
	color: white;
}

.topnav .title {
	color: #f2f2f2;
	font-size: 20px;
	font-weight: bold;
}
.indicator {
        width: 20px;
        height:20px;
        border-radius: 50%;
        display: inline-block;
       
    }
.red { background-color: red; }
.green { background-color: green; }
.grey { background-color: grey; }

.scrollable-container {
    width: 100%;
    height: 600px; 
    overflow-y: auto; 
}

  .scrollable-container table {
    width: 100%;
  }

  .scrollable-container thead {
    position: sticky;
    top: 0;
    background-color: #f8f9fa; 
	z-index: 0; 

  }

  .scrollable-container th {
   
  }
  .bi bi-person-circle{
	font-size: 10px;
 }
 /* .icon-container {
    display: flex;
    align-items: right;
   
} */

.icon-name {
    margin-left: 200px; /* Adjust spacing between icon and name */
    /* Add styles for the name (e.g., font-size, color) */
	color: white;
}
.title{
	margin-left: 579px;
}
.links{
	margin-left: 75px;
}
.dropdown {
            position: relative;
            display: inline-flex;
			
        }

        .dropdown-button {
            background-color: #f9f9f9;
            border: none;
            padding: 10px;
            font-size: 14px;
            cursor: pointer;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #fff;
            min-width: 120px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
		
        }

        .dropdown-content a {
            color: #333;
            padding: 8px 12px;
            text-decoration: none;
            display: block;
			
        }

        .dropdown-content a:hover {
            background-color: #f5f5f5;
        }

.dropdown-menu {
/* background-color: aqua;	 */
	width: auto;
   /* padding: 0px 0px 0px 0px 0px !important; */
}		
.dropdown-menu-left {
  left: auto !important;
  margin-left: -105px !important;
}
.dropdown-item {
	white-space: initial !important;
	margin-left: 0px;
    margin-right: 0px;
    margin-top: -9px;
    margin-bottom: -9px;
	height: 80px !important;
	width: 160px;
	color: black !important;
}
.dropdown-menu-main{
	/* background-color: #333; */
	margin-left: 0px;
	height: 75px ;
	
}
.dropdown-menu-main-content{
height: 75px !important;	
color: white;
margin-left: 0px;
margin-right: 0px;
margin-top: -9px;
margin-bottom: -9px;
}
</style>
</head>
<body>

	<div class="topnav">
		<div class="links"> 
			<button style="background-color: #333;border: none;" class=" btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Menu</button>
			<div class="dropdown-menu dropdown-menu-left" aria-labelledby="dropdownMenuButton">
				  <a class="dropdown-item dropdown-menu-main-content" th:each="menu : ${nav_menus}" th:href="@{${menu.menu_link}}" th:text="${menu.menu_name}" th:classappend="${#strings.contains(menu.menu_link, currentMenu) ? 'active' : ''}"></a>
			<!--	<a class="dropdown-item dropdown-menu-main-content" href="#orders">RF Menu</a>
				<a class="dropdown-item dropdown-menu-main-content" href="#reports">Category</a>
				<a class="dropdown-item dropdown-menu-main-content" href="#settings">Item</a>
				<a class="dropdown-item dropdown-menu-main-content" href="#orders">Location</a>
				<a class="dropdown-item dropdown-menu-main-content" href="#reports">LPN</a>
				<a class="dropdown-item dropdown-menu-main-content" href="#settings">Inventory</a> -->
			</div>	
		</div>
		<div class="title">Warehouse Management System</div>
	   <span class="icon-name" th:text="${user_name}"></span>
	   &nbsp;&nbsp;&nbsp;&nbsp;
	  
	  <div class="dropdown">
		<button style="background-color: #333;border: none;" class=" btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
		  <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="white" class="bi bi-person-circle" viewBox="0 0 16 16">
			<path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
			<path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
		  </svg>
		</button>
		<div class="dropdown-menu dropdown-menu-left" aria-labelledby="dropdownMenuButton">
		  <a class="dropdown-item"  href="#">Account</a>
		  <a class="dropdown-item" href="#">Settings</a>
		  <a class="dropdown-item" th:href="@{${logout_url.menu_link}}"th:text="${logout_url.menu_name}"  th:onclick="javascript:ajaxLogout('{{decodedToken}}')"></a>
		</div>
		</div>
		&nbsp;&nbsp;&nbsp;&nbsp;
	  </div>
	<div class="container">
		
		<h1 class="text-decoration">Inventory Management</h1>
		<!-- Category table -->
		<div class="scrollable-container">
			<!-- <input data-toggle="modal" data-target="#exampleModal" type="button" 
            class="btn btn-primary" value="Add Location" id="addLocationButton" onclick="showButtons()"> -->
			<table class="table table-striped sortable">
				<thead class="thead-dark">
					<tr>
						<th scope="col">#</th>
						<th scope="col">LPN</th>
						<th scope="col">Item</th>
                        <th scope="col">On Hand Quanity</th>
                        <th scope="col">Location</th>
                        <th scope="col">Occupied Quanity</th>
                        <th scope="col">Location Class</th>
                        <th scope="col">Indicator</th>
                        <th scope="col">Actions</th>
					</tr>
				</thead>
				<tbody style="overflow-y: scroll;" >
					<tr th:each="inventory : ${inventories}">
						<th scope="row" th:text="${inventory.inventory_id}"></th>
						<div th:with="inv_lpn = ${inventory != null and inventory.lpn != null}">
                            <td th:text="${inv_lpn ? inventory.lpn.lpn_name : ' '}"></td>
                        </div>
                                                    
						<td th:text="${inventory.item.description}"></td>
                        <td th:text="${inventory.on_hand_qty}"></td>
                        <div th:with="inv_loc = ${inventory != null and inventory.location != null}">
                            <td th:text="${inv_loc ? inventory.location.locn_brcd : ' '}"></td>
                            <td th:text="${inv_loc ? inventory.location.occupied_qty : ' '}"></td>
                            <td th:text="${inv_loc ? inventory.locn_class : null}"></td>
                           
                        </div>
                        <div th:with="inv_loc = ${inventory != null and inventory.location != null}">
                            <!-- ... -->
                            <td>
                                <div class="indicator" th:class="${inv_loc ? (inventory.location.occupied_qty >= inventory.location.max_qty ? 'indicator red' : 'indicator green') : 'indicator grey'}"></div>
                                <div th:text="${inv_loc ? (inventory.location.occupied_qty >= inventory.location.max_qty ? 'Full' : 'Available') : ''}"></div>

                            </td>
                            <!-- ... -->
                        </div>
						<td>
							<!-- <button type="button" class="btn btn-primary" data-toggle="modal"
								data-target="#exampleModal" 
								th:data-lpn-id="${lpn.lpn_id}"
								th:data-lpn-name="${lpn.lpn_name}"
								th:data-description="${lpn.item.description}"
								th:data-quantity="${lpn.quantity}"
								th:data-length="${lpn.length}"
								th:data-width="${lpn.width}"
								th:data-height="${lpn.height}"
								th:data-volume="${lpn.volume}"
								
								onclick="showLpn(this.getAttribute('data-lpn-id'),this.getAttribute('data-lpn-name'),
								this.getAttribute('data-description'),this.getAttribute('data-quantity'),
                                this.getAttribute('data-length'),this.getAttribute('data-width'),
								this.getAttribute('data-height'),this.getAttribute('data-volume'),true)">
								View</button>
							<button th:data-lpn-id="${lpn.lpn_id}"
                                    th:data-lpn-name="${lpn.lpn_name}"
							    	onclick="confirmLpnDeletion(this.getAttribute('data-lpn-id'),this.getAttribute('data-lpn-name'), true)"
								    class="btn btn-danger">Delete</button> -->


						</td>
					</tr>
				</tbody>
			</table>
			<!-- Modal -->
			<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="max-width: 800px;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">LPN Details</h5>
                <button type="button" class="close" data-dismiss="modal"
                    aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Text fields for item details -->
                <form id="lpnForm">
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label for="lpn_id">LPN ID</label> <input type="text"
                                    class="form-control" id="lpn_id" readonly>
                            </div>
                            <div class="form-group">
                                <label for="lpn_name">LPN</label> <input type="text"
                                    class="form-control" id="lpn_name" readonly>
                            </div>
                            <div class="form-group">
                                <label for="item_desc">Item</label>
                                <input class="form-control" id="item_desc" rows="3" readonly></input>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label for="length">Length</label>
                                <input class="form-control" id="length" rows="3" readonly></input>
                            </div>
                            <div class="form-group">
                                <label for="width">Width</label>
                                <input class="form-control" id="width" rows="3" readonly></input>
                            </div>
                            <div class="form-group">
                                <label for="height">Height</label>
                                <input class="form-control" id="height" rows="3" readonly></input>
                            </div>
						</div>
						<div class="col">	
                            <div class="form-group">
                                <label for="quantity">Quantity</label>
                                <input class="form-control" id="quantity" rows="3"></input>
                            </div>
							<div class="form-group">
                                <label for="volume">Volume</label>
                                <input class="form-control" id="volume" rows="3" readonly></input>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div id= "saveLocationButton" class="modal-footer">
                <button type="button" class="btn btn-secondary" onclick="cancelViewLocation()" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary"   onclick="saveLocationButton()">Save</button>
            </div>
			<div id= "editLocationButton" class="modal-footer">
                <button type="button" class="btn btn-secondary"	onclick="cancelViewLocation()" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary"   onclick="saveEditLocation()">Save</button>
            </div>
        </div>
    </div>
</div>

	
		</div>
		<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
		<script
			src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
		<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script src="https://www.kryogenix.org/code/browser/sorttable/sorttable.js"></script>
		<script type='text/javascript'>
		
		function showButtons(){
			document.getElementById("editLocationButton").style.display = 'none';
			document.getElementById("saveLocationButton").style.display = 'block';

		}

		var isButtonShown = false;
		var currentItemName = null;

		function showFields() {
			if (!isButtonShown) {
				document.getElementById('itemDiv').style.display = 'block';
				document.getElementById('saveButton').style.display = 'block';
				document.getElementById('toggleCancelButton').style.display = 'block';
				document.getElementById('addItemButton').style.display = 'none';
				isItemShown = true;
			} else {
				submitForm();
			}
		}
		function cancelAddItem() {
		    // Hide the category input field, save button, and cancel button
		    document.getElementById('itemDiv').style.display = 'none';
		    document.getElementById('saveItemButton').style.display = 'none';
		    document.getElementById('toggleCancelButton').style.display = 'none';
			
		    // Show the Add Category button
		    document.getElementById('addItemButton').style.display = 'block';
		    isItemShown = false;
		}

		function cancelViewLpn(){
			document.getElementById('lpn_id').value = null;
			document.getElementById('lpn_name').value = null;
			document.getElementById('item_desc').value = null;
            document.getElementById('quantity').value = null;
			document.getElementById('length').value = null;
			document.getElementById('width').value = null;
			document.getElementById('height').value = null;
			document.getElementById('volume').value = null;
		}
		function showLpn(lpn_id,lpn_name,description,quantity,length,width,height,volume){
			document.getElementById('lpn_id').value = lpn_id;
			document.getElementById('lpn_name').value = lpn_name;
			document.getElementById('item_desc').value = description;
            document.getElementById('quantity').value = quantity;
			document.getElementById('length').value = length;
			document.getElementById('width').value = width;
			document.getElementById('height').value = height;
			document.getElementById('volume').value = volume;
			document.getElementById("editLocationButton").style.display = 'block';
			document.getElementById("saveLocationButton").style.display = 'none';

		}
		function cancelEdit() {
		    // Hide the category input field, save button, and cancel button
		    document.getElementById('itemDiv').style.display = 'none';
		    document.getElementById('saveItemButton').style.display = 'none';
		    document.getElementById('toggleButton').style.display = 'none';

		    // Show the Add Category button
		    document.getElementById('addItemButton').style.display = 'block';
			document.getElementById('item').value = '';

		}

		function editItem(item_id, description) {
			console.log("Editing : " + description);
			// Show the category input field with the current category name
			document.getElementById('itemDiv').style.display = 'block';
			document.getElementById('item').value = description;
			document.getElementById('saveButton').style.display = 'none';
			document.getElementById('addItemButton').style.display = 'none';
			document.getElementById('toggleButton').style.display = 'block';
			document.getElementById('saveItemButton').style.display = 'block';
			isItemShown = true;
			currentItemName = description;
		}

		function saveEditLocation() {
			var locationId = document.getElementById('locationId').value
			var locn_brcd  = document.getElementById('locn_brcd').value 
			var locn_class = document.getElementById('locn_class').value
			var length     = document.getElementById('length').value 
			var width      = document.getElementById('width').value 
			var height     = document.getElementById('height').value
			var max_vol    = document.getElementById('max_vol').value 
			var max_qty    = document.getElementById('max_qty').value
			var max_weight = document.getElementById('max_weight').value


			console.log("Location : " + locn_brcd);
			const ajaxRequest = {
				url : 'locationEdit',
				type : 'put',
				data:{locn_id: locn_id,locn_brcd: locn_brcd,locn_class: locn_class,length: length,width: width,height: height,max_volume: max_volume,max_qty : max_qty,max_weight: max_weight},
				success : function(response, textStatus, xhr) {
					console.log("Status Code:", xhr.status
							+ ", Status Message " + textStatus);
					alert('Location edited successfully');
					
					isItemShown = false;
					location.reload();

				},
				error : function(response) {
					alert('Error editing Location');
					location.reload();
				}
			};

			$.ajax(ajaxRequest);
		}
		function confirmLocationDeletion(locn_id,locn_brcd, deleteFlag) {
			if (deleteFlag) {
//				const confirmation = window
//						.confirm(`Are you sure you want to delete category '${category_name}'?`);
//				if (confirmation) {
	//				deleteCategory(category_name);
			//	}
				 Swal.fire({
			            title: 'Are you sure?',
			            text: `Are you sure you want to delete location '${locn_brcd}'?`,
			            icon: 'warning',
			            showCancelButton: true,
			            confirmButtonColor: '#3085d6',
			            cancelButtonColor: '#d33',
			            confirmButtonText: 'Yes, delete it!',
			            cancelButtonText: 'No, cancel!'
			        }).then((result) => {
			            if (result.isConfirmed) {
			                deleteLocation(locn_brcd);
			            }
			        });
			    }
		}

		function deleteLocation(locn_brcd) {
			console.log(locn_brcd);

			// Proceed with deletion if user clicks "Yes" button
			$
					.ajax({
						url : '/api/deleteLocation/' + locn_brcd,
						type : 'delete',
						 success: function(response, textStatus, xhr) {
					            console.log("Status code:", xhr.status + ", " + textStatus);
					            Swal.fire('Deleted!', 'Location deleted successfully', 'success').then((result) => {
					                if (result.isConfirmed) {
					                    location.reload(); // Reload the page
					                }
					            });
					        },
	
					        error: function(response) {
					            Swal.fire('Error!', 'Error deleting Location', 'error');
					        }
					});
		}
	</script>
</body>
</html>
