<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Item Management</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style>
body {
	background-color: #f8f9fa;
}

.container {
	max-width: 960px;
	margin-top: 2rem;
	padding: 2rem;
	background-color: #fff;
	border-radius: 0.5rem;
	box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

table {
	margin-top: 2rem;
}

.table th, .table td {
	vertical-align: middle;
}

.form-group {
	margin-top: 2rem;
}

#saveCategoryButton, #toggleButton {
	display: inline-block;
	margin-right: 10px; /* Add a little space between buttons */
}

.topnav {
	overflow: visible;
	background-color: #333;
	display: flex;
	justify-content: space-around;
	align-items: center;
	position: sticky;
    top: 0;
    width: 100%;
}

.topnav a {
	float: left;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 20px 16px; /* Increase the vertical padding */
	text-decoration: none;
	font-size: 17px;
}

.topnav a:hover {
	background-color: #ddd;
	color: black;
}

.topnav a.active {
	background-color: royalblue;
	color: white;
}

.topnav .title {
	color: #f2f2f2;
	font-size: 20px;
	font-weight: bold;
}
.scrollable-container {
    width: 100%;
    height: 600px; 
    overflow-y: auto; 
}

  .scrollable-container table {
    width: 100%;
  }

  .scrollable-container thead {
    position: sticky;
    top: 0;
    background-color: #f8f9fa; 
	z-index: 0; 

  }

  .scrollable-container th {
   
  }
 
  .bi bi-person-circle{
	font-size: 10px;
 }
 /* .icon-container {
    display: flex;
    align-items: right;
   
} */

.icon-name {
    margin-left: 200px; /* Adjust spacing between icon and name */
    /* Add styles for the name (e.g., font-size, color) */
	color: white;
}
.title{
	margin-left: 579px;
}
.links{
	margin-left: 75px;
}
.dropdown {
            position: relative;
            display: inline-flex;
			
        }

        .dropdown-button {
            background-color: #f9f9f9;
            border: none;
            padding: 10px;
            font-size: 14px;
            cursor: pointer;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #fff;
            min-width: 120px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
		
        }

        .dropdown-content a {
            color: #333;
            padding: 8px 12px;
            text-decoration: none;
            display: block;
			
        }

        .dropdown-content a:hover {
            background-color: #f5f5f5;
        }

.dropdown-menu {
/* background-color: aqua;	 */
	width: auto;
   /* padding: 0px 0px 0px 0px 0px !important; */
}		
.dropdown-menu-left {
  left: auto !important;
  margin-left: -105px !important;
}
.dropdown-item {
	white-space: initial !important;
	margin-right: 0px;
	margin-top: -8px ;
	margin-bottom: -8px ;
	height: 80px !important;
	width: 160px;
	color: black !important;
}
.dropdown-menu-main{
	/* background-color: #333; */
	margin-left: 0px;
	height: 70px ;
	
}
.dropdown-menu-main-content{
color: white;
margin-left: 0px;	
}
</style>
</head>
<body>

	<body>
		<div class="topnav">
		  <div class="links"> 
			<button style="background-color: #333;border: none;" class=" btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Menu</button>
			<div class="dropdown-menu dropdown-menu-left" aria-labelledby="dropdownMenuButton">
				  <a class="dropdown-item dropdown-menu-main-content" th:each="menu : ${nav_menus}" th:href="@{${menu.menu_link}}" th:text="${menu.menu_name}" th:classappend="${#strings.contains(menu.menu_link, currentMenu) ? 'active' : ''}"></a>
				<!-- <a class="dropdown-item dropdown-menu-main-content" href="#orders">RF Menu</a>
				<a class="dropdown-item dropdown-menu-main-content" href="#reports">Category</a>
				<a class="dropdown-item dropdown-menu-main-content" href="#settings">Item</a>
				<a class="dropdown-item dropdown-menu-main-content" href="#orders">Location</a>
				<a class="dropdown-item dropdown-menu-main-content" href="#reports">LPN</a>
				<a class="dropdown-item dropdown-menu-main-content" href="#settings">Inventory</a>  -->
			</div>	
		  </div>
		  <div class="title">Warehouse Management System</div>
		 <span class="icon-name" th:text="${user_name}"></span>
		 &nbsp;&nbsp;&nbsp;&nbsp;
		
		<div class="dropdown">
		  <button style="background-color: #333;border: none;" class=" btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
			<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="white" class="bi bi-person-circle" viewBox="0 0 16 16">
			  <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
			  <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
			</svg>
		  </button>
		  <div class="dropdown-menu dropdown-menu-left" aria-labelledby="dropdownMenuButton">
			<a class="dropdown-item"  href="#">Account</a>
			<a class="dropdown-item" href="#">Settings</a>
			<a class="dropdown-item" th:href="@{${logout_url.menu_link}}"th:text="${logout_url.menu_name}"  th:onclick="javascript:ajaxLogout('{{decodedToken}}')"></a>
		</div>
		  </div>
		  &nbsp;&nbsp;&nbsp;&nbsp;
		</div>
		
	<div class="container">
		
		<h1 class="text-center">Item Management</h1>
		<input type="hidden" id="responseMessage" th:value="${responseMessage}"></input>
		<!-- Category table -->
		<input data-toggle="modal" data-target="#exampleModal" type="button" class="btn btn-primary" value="Add Item" id="addItemButton" onclick="showButtons()">
		<div class="scrollable-container">
			<table class="table table-striped">
				<thead class="thead-dark">
					<tr>
						<th scope="col">#</th>
						<th scope="col">Item Name</th>
						<th scope="col">Category</th>
						<th scope="col">Actions</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="item : ${items}">
						<th scope="row" th:text="${item.item_id}"></th>
						<td th:text="${item.description}"></td>
						<td th:text="${item.category.category_name}"></td>
						<td>
							<button type="button" class="btn btn-primary" data-toggle="modal"
								data-target="#exampleModal" 
								th:data-item-id="${item.item_id}"
								th:data-description="${item.description}"
								th:data-category="${item.category.category_name}"
								th:data-length="${item.unit_length}"
								th:data-width="${item.unit_width}"
								th:data-height="${item.unit_height}"
								th:data-volume="${item.unit_volume}"
								onclick="showItem(this.getAttribute('data-item-id'),this.getAttribute('data-description'),
								this.getAttribute('data-category'),this.getAttribute('data-length'),this.getAttribute('data-width'),
								this.getAttribute('data-height'),this.getAttribute('data-volume'), true)">
								View</button>

								<button th:data-item-id="${item.item_id}"
								th:data-description="${item.description}"
								onclick="confirmItemDeletion(this.getAttribute('data-item-id'),this.getAttribute('data-description'), true)"
								class="btn btn-danger">Delete</button>



						</td>
					</tr>
				</tbody>
			</table>
			<!-- Modal -->
			<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Item Details</h5>
                <button type="button" class="close" data-dismiss="modal"
                    aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Text fields for item details -->
                <form id="itemForm">
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label for="itemId">Item ID</label> <input type="text"
                                    class="form-control" id="itemId" readonly>
                            </div>
                            <div class="form-group">
                                <label for="itemName">Item Name</label> <input type="text"
                                    class="form-control" id="itemName">
                            </div>
                            <div class="form-group" th:object="${category}">
                                <label for="category">Category</label>
                                <!-- <input class="form-control" id="category" rows="3"></input> -->
								<select class="form-control" id="category" name="category">
									<option value="">Select Category</option>
									<option th:each="category : ${categories}"
											th:value="${category.category_name}"
											th:text="${category.category_name}"></option>
								</select>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label for="length">Length</label>
                                <input class="form-control" id="length" rows="3"></input>
                            </div>
                            <div class="form-group">
                                <label for="width">Width</label>
                                <input class="form-control" id="width" rows="3"></input>
                            </div>
                            <div class="form-group">
                                <label for="height">Height</label>
                                <input class="form-control" id="height" rows="3"></input>
                            </div>
                            <div class="form-group">
                                <label for="volume">Volume</label>
                                <input class="form-control" id="volume" rows="3" readonly></input>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div id= "saveItemButton" class="modal-footer">
                <button type="button" class="btn btn-secondary"
				onclick="canelViewItem()" data-dismiss="modal">Cancel</button>
                <button id="saveButton" type="button" class="btn btn-primary"
                    onclick="saveItem()">Save</button>
            </div>
			<div id= "editItemButton" class="modal-footer">
                <button type="button" class="btn btn-secondary"
				onclick="canelViewItem()" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary"
                    onclick="saveEditItem()">Save</button>
            </div>
        </div>
    </div>
</div>

	
		</div>
		<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
		<script
			src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
		<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
		<script type='text/javascript'>
		
		function showButtons(){
			document.getElementById("editItemButton").style.display = 'none';
			document.getElementById("saveItemButton").style.display = 'block';
			canelViewItem();
		}
		

		var isButtonShown = false;
		var currentItemName = null;
		
		function canelViewItem(){
			document.getElementById('itemId').value = null;
			const emptyFields = ['itemName', 'category', 'length', 'width', 'height','volume']
			.filter(fieldId => !deColourFieldAndNull(fieldId));	
		}
		function showItem(item_id,description,category,length,width,height,volume ){
			const emptyFields = ['itemName', 'category', 'length', 'width', 'height','volume']
			.filter(fieldId => !deColourFieldAndNull(fieldId));	
			document.getElementById('itemId').value = item_id;
			document.getElementById('itemName').value = description;
			document.getElementById('category').value = category;
			document.getElementById('length').value = length;
			document.getElementById('width').value = width;
			document.getElementById('height').value = height;
			document.getElementById('volume').value = volume;
			document.getElementById("editItemButton").style.display = 'block';
			document.getElementById("saveItemButton").style.display = 'none';

		}
		function handleFormSubmission() {
         const emptyFields = ['itemName', 'category', 'length', 'width', 'height']
        .filter(fieldId => !validateField(fieldId));

		 if (emptyFields.length == 1) {
			console.log(emptyFields.length == 1);
			alert('One field is blank!');
			return true;
		 }
         else if (emptyFields.length > 1) {
             alert('More than one field is blank!');
             return true;
         }
		 else{
			return false;
		 }
		
}
function deColourFieldAndNull(fieldId){
	document.getElementById(fieldId).style.borderColor = 'grey';
	document.getElementById(fieldId).value = null;
 }
function validateField(fieldId) {
    const fieldValue = document.getElementById(fieldId).value;
	// console.log();
    if (fieldValue === '') {
        document.getElementById(fieldId).style.borderColor = 'red';
        return false;
    }
    return true;
}
// const formElement = document.getElementById('saveButton');
//     console.log(formElement);
//     formElement.addEventListener('click', function (event) {
		
//       event.preventDefault(); // Prevent default form submission
      
// });	
		function saveItem() {
			var description = document.getElementById('itemName').value;
			var category = document.getElementById('category').value;
			var length = document.getElementById('length').value;
			var width = document.getElementById('width').value;
			var height = document.getElementById('height').value;
			const fields = [description,category,length,width,height];

			console.log("Item Description : " + description);
			if (!handleFormSubmission()) {
				const ajaxRequest = {
            	url: 'itemAdd',
            	type: 'post',
				data: {
				    description: description,
				    category: category,
				    length: length,
				    width: width,
				    height: height,
				},
            success: function (response, textStatus, xhr) {
                console.log("Status Code:", xhr.status + ", Status Message " + textStatus);
              			 var parser = new DOMParser();
						var xmlDoc = parser.parseFromString(xhr.responseText, "text/html");
						var targetTag = xmlDoc.querySelector("#responseMessage"); // Replace with your actual tag ID
						// console.log(xmlDoc);
						console.log('Response Message '+targetTag.value);
                    
					alert(targetTag.value);
                isItemShown = false;
                location.reload();
            },
            error: function (response) {
                alert('Error adding item');
                //location.reload();
            }
        };

        $.ajax(ajaxRequest);
			}
			//if (validateField('itemName') && validateField('category') && validateField('length') && validateField('width') && validateField('height')) {
        	
    //}
}
			
		function cancelEdit() {
		    // Hide the category input field, save button, and cancel button
		    document.getElementById('itemDiv').style.display = 'none';
		    document.getElementById('saveItemButton').style.display = 'none';
		    document.getElementById('toggleButton').style.display = 'none';

		    // Show the Add Category button
		    document.getElementById('addItemButton').style.display = 'block';
			document.getElementById('item').value = '';

		}

		function editItem(item_id, description) {
			console.log("Editing : " + description);
			// Show the category input field with the current category name
			document.getElementById('itemDiv').style.display = 'block';
			document.getElementById('item').value = description;
			document.getElementById('saveButton').style.display = 'none';
			document.getElementById('addItemButton').style.display = 'none';
			document.getElementById('toggleButton').style.display = 'block';
			document.getElementById('saveItemButton').style.display = 'block';
			isItemShown = true;
			currentItemName = description;
		}

		function saveEditItem() {
			var description = document.getElementById('itemName').value;
			var category = document.getElementById('category').value;
			var length = document.getElementById('length').value;
			var width = document.getElementById('width').value;
			var height = document.getElementById('height').value;


			console.log("Item Description : " + description);
			if (!handleFormSubmission()) {
			const ajaxRequest = {
				url : 'itemEdit',
				type : 'put',
				data:{description: description,category: category,length: length,width: width,height: height },
				success : function(response, textStatus, xhr) {
					console.log("Status Code:", xhr.status
							+ ", Status Message " + textStatus);
							var parser = new DOMParser();
						var xmlDoc = parser.parseFromString(xhr.responseText, "text/html");
						var targetTag = xmlDoc.querySelector("#responseMessage"); // Replace with your actual tag ID
						// console.log(xmlDoc);
						console.log('Response Message '+targetTag.value);
                    
					alert(targetTag.value);
					
					isItemShown = false;
					location.reload();

				},
				error : function(response) {
					alert('Error editing item');
					location.reload();
				}
			};

			$.ajax(ajaxRequest);
		}
		
		}
		function confirmItemDeletion(item_id,description, deleteFlag) {
			if (deleteFlag) {
//				const confirmation = window
//						.confirm(`Are you sure you want to delete category '${category_name}'?`);
//				if (confirmation) {
	//				deleteCategory(category_name);
			//	}
				 Swal.fire({
			            title: 'Are you sure?',
			            text: `Are you sure you want to delete item '${description}'?`,
			            icon: 'warning',
			            showCancelButton: true,
			            confirmButtonColor: '#3085d6',
			            cancelButtonColor: '#d33',
			            confirmButtonText: 'Yes, delete it!',
			            cancelButtonText: 'No, cancel!'
			        }).then((result) => {
			            if (result.isConfirmed) {
			                deleteCategory(description);
			            }
			        });
			    }
		}

		function deleteCategory(description) {
			console.log(description);

			// Proceed with deletion if user clicks "Yes" button
			$
					.ajax({
						url : '/api/deleteItem/' + description,
						type : 'delete',
						 success: function(response, textStatus, xhr) {
					            console.log("Status code:", xhr.status + ", " + textStatus);
					            Swal.fire('Deleted!', 'Item deleted successfully', 'success').then((result) => {
					                if (result.isConfirmed) {
					                    location.reload(); // Reload the page
					                }
					            });
					        },
	
					        error: function(response) {
					            Swal.fire('Error!', 'Error deleting Item', 'error');
					        }
					});
		}
	
	</script>
</body>
</html>
