<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Location Management</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style>
body {
	background-color: #f8f9fa;
}

.container {
	max-width: 960px;
	margin-top: 2rem;
	padding: 2rem;
	background-color: #fff;
	border-radius: 0.5rem;
	box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

table {
	margin-top: 2rem;
}

.table th, .table td {
	vertical-align: middle;
}

.form-group {
	margin-top: 2rem;
}

#saveCategoryButton, #toggleButton {
	display: inline-block;
	margin-right: 10px; /* Add a little space between buttons */
}

.topnav {
	overflow: hidden;
	background-color: #333;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
    top: 0;
    width: 100%;
}

.topnav a {
	float: left;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 20px 16px; /* Increase the vertical padding */
	text-decoration: none;
	font-size: 17px;
}

.topnav a:hover {
	background-color: #ddd;
	color: black;
}

.topnav a.active {
	background-color: royalblue;
	color: white;
}

.topnav .title {
	color: #f2f2f2;
	font-size: 20px;
	font-weight: bold;
}
</style>
</head>
<body>

	<div class="topnav">
		<div id="links">
		</div>
		<div class="title">Warehouse Management System</div>
	</div>

	</div>
	<div class="container">
		
		<h1 class="text-center">Location Management</h1>
		<!-- Category table -->
		<div style="width: 100%; height: 100%; overflow: auto;">
			<input data-toggle="modal" data-target="#exampleModal" type="button" class="btn btn-primary" value="Add Location" id="addLocationButton" onclick="showButtons()">
			<table class="table table-striped">
				<thead class="thead-dark">
					<tr>
						<th scope="col">#</th>
						<th scope="col">Location</th>
						<th scope="col">Location Class(A/R)</th>
						<th scope="col">Actions</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="location : ${locations}">
						<th scope="row" th:text="${location.locn_id}"></th>
						<td th:text="${location.locn_brcd}"></td>
						<td th:text="${location.locn_class}"></td>
						<td>
							<button type="button" class="btn btn-primary" data-toggle="modal"
								data-target="#exampleModal" 
								th:data-locn-id="${location.locn_id}"
								th:data-locn-brcd="${location.locn_brcd}"
								th:data-locn-class="${location.locn_class}"
								th:data-length="${location.length}"
								th:data-width="${location.width}"
								th:data-height="${location.height}"
								th:data-max-volume="${location.max_volume}"
								th:data-max-weight="${location.max_weight}"
								th:data-max-qty="${location.max_qty}"
								onclick="showLocation(this.getAttribute('data-locn-id'),this.getAttribute('data-locn-brcd'),
								this.getAttribute('data-locn-class'),this.getAttribute('data-length'),this.getAttribute('data-width'),
								this.getAttribute('data-height'),this.getAttribute('data-max-volume'),
								this.getAttribute('data-max-qty'),this.getAttribute('data-max-weight'), true)">
								View</button>
							<button th:data-locn-id="${location.locn_id}"
								th:data-locn-brcd="${location.locn_brcd}"
								onclick="confirmLocationDeletion(this.getAttribute('data-locn-id'),this.getAttribute('data-locn-brcd'), true)"
								class="btn btn-danger">Delete</button>


						</td>
					</tr>
				</tbody>
			</table>
			<!-- Modal -->
			<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Location Details</h5>
                <button type="button" class="close" data-dismiss="modal"
                    aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Text fields for item details -->
                <form id="locationForm">
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label for="locationId">Location ID</label> <input type="text"
                                    class="form-control" id="locationId" readonly>
                            </div>
                            <div class="form-group">
                                <label for="locn_brcd">Location Barcode</label> <input type="text"
                                    class="form-control" id="locn_brcd">
                            </div>
                            <div class="form-group">
                                <label for="locn_class">Location Class</label>
                                <input class="form-control" id="locn_class" rows="3"></input>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label for="length">Length</label>
                                <input class="form-control" id="length" rows="3"></input>
                            </div>
                            <div class="form-group">
                                <label for="width">Width</label>
                                <input class="form-control" id="width" rows="3"></input>
                            </div>
                            <div class="form-group">
                                <label for="height">Height</label>
                                <input class="form-control" id="height" rows="3"></input>
                            </div>
						</div>
						<div class="col">	
                            <div class="form-group">
                                <label for="max_vol">Max Volume</label>
                                <input class="form-control" id="max_vol" rows="3"></input>
                            </div>
							<div class="form-group">
                                <label for="max_weight">Max Weight</label>
                                <input class="form-control" id="max_weight" rows="3"></input>
                            </div>
							<div class="form-group">
                                <label for="max_qty">Max Quanity</label>
                                <input class="form-control" id="max_qty" rows="3"></input>
                            </div>

                        </div>
                    </div>
                </form>
            </div>
            <div id= "saveLocationButton" class="modal-footer">
                <button type="button" class="btn btn-secondary" onclick="cancelViewLocation()" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary"   onclick="saveLocationButton()">Save</button>
            </div>
			<div id= "editLocationButton" class="modal-footer">
                <button type="button" class="btn btn-secondary"	onclick="cancelViewLocation()" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary"   onclick="saveEditLocation()">Save</button>
            </div>
        </div>
    </div>
</div>

	
		</div>
		<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
		<script
			src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
		<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
		<script type='text/javascript'>
		
		function showButtons(){
			document.getElementById("editLocationButton").style.display = 'none';
			document.getElementById("saveLocationButton").style.display = 'block';

		}
		
		var hostname = location.hostname;
        var linksDiv = document.getElementById("links");
        linksDiv.innerHTML += '<a href="http://' + hostname + ':8086/api/showMenu">RF Menu</a>';
        linksDiv.innerHTML += '<a href="http://' + hostname + ':8086/api/categoryInfo">Category</a>';
        linksDiv.innerHTML += '<a href="http://' + hostname + ':8086/api/itemInfo">Item</a>';
		linksDiv.innerHTML += '<a href="http://' + hostname + ':8086/api/locationInfo"  class="active">Location</a>';

        linksDiv.innerHTML += '<a href="#lpnl">LPN</a>';	

	/* Toggle between adding and removing the "responsive" class to topnav when the user clicks on the icon */
	// Get all the menu items
var menuItems = document.querySelectorAll('.topnav a');

// Loop through the menu items
for (var i = 0; i < menuItems.length; i++) {
  // Add a click event listener to each menu item
  menuItems[i].addEventListener('click', function() {
    // Remove the 'active' class from all menu items
    for (var i = 0; i < menuItems.length; i++) {
      menuItems[i].classList.remove('active');
    }
    // Add the 'active' class to the clicked menu item
    this.classList.add('active');
  });
}

		var isButtonShown = false;
		var currentItemName = null;

		function showFields() {
			if (!isButtonShown) {
				document.getElementById('itemDiv').style.display = 'block';
				document.getElementById('saveButton').style.display = 'block';
				document.getElementById('toggleCancelButton').style.display = 'block';
				document.getElementById('addItemButton').style.display = 'none';
				isItemShown = true;
			} else {
				submitForm();
			}
		}
		function cancelAddItem() {
		    // Hide the category input field, save button, and cancel button
		    document.getElementById('itemDiv').style.display = 'none';
		    document.getElementById('saveItemButton').style.display = 'none';
		    document.getElementById('toggleCancelButton').style.display = 'none';
			
		    // Show the Add Category button
		    document.getElementById('addItemButton').style.display = 'block';
		    isItemShown = false;
		}

		function cancelViewLocation(){
			document.getElementById('locationId').value = null;
			document.getElementById('locn_brcd').value = null;
			document.getElementById('locn_class').value = null;
			document.getElementById('length').value = null;
			document.getElementById('width').value = null;
			document.getElementById('height').value = null;
			document.getElementById('max_vol').value = null;
			document.getElementById('max_qty').value = null;
			document.getElementById('max_weight').value = null;
		}
		function showLocation(locn_id,locn_brcd,locn_class,length,width,height,max_volume,max_qty,max_weight ){
			document.getElementById('locationId').value = locn_id;
			document.getElementById('locn_brcd').value = locn_brcd;
			document.getElementById('locn_class').value = locn_class;
			document.getElementById('length').value = length;
			document.getElementById('width').value = width;
			document.getElementById('height').value = height;
			document.getElementById('max_vol').value = max_volume;
			document.getElementById('max_qty').value = max_qty;
			document.getElementById('max_weight').value = max_weight;
			document.getElementById("editLocationButton").style.display = 'block';
			document.getElementById("saveLocationButton").style.display = 'none';

		}
		function saveLocationButton() {
			var locn_brcd  = document.getElementById('locn_brcd').value 
			var locn_class = document.getElementById('locn_class').value 
			var length     = document.getElementById('length').value 
			var width      = document.getElementById('width').value 
			var height     = document.getElementById('height').value
			var max_vol    = document.getElementById('max_vol').value 
			var max_qty    = document.getElementById('max_qty').value
			var max_weight = document.getElementById('max_weight').value	


			console.log("Location : " + locn_brcd);
			const ajaxRequest = {
				url : 'locationAdd',
				type : 'post',
				data:{locn_brcd: locn_brcd,locn_class: locn_class,length: length,width: width,height: height,max_vol: max_vol,max_qty : max_qty,max_weight: max_weight},
				success : function(response, textStatus, xhr) {
					console.log("Status Code:", xhr.status
							+ ", Status Message " + textStatus);
					alert('Location added successfully');
					
					isItemShown = false;
					location.reload();

				},
				error : function(response) {
					alert('Error adding Location');
					location.reload();
				}
			};

			$.ajax(ajaxRequest);
		}
		function cancelEdit() {
		    // Hide the category input field, save button, and cancel button
		    document.getElementById('itemDiv').style.display = 'none';
		    document.getElementById('saveItemButton').style.display = 'none';
		    document.getElementById('toggleButton').style.display = 'none';

		    // Show the Add Category button
		    document.getElementById('addItemButton').style.display = 'block';
			document.getElementById('item').value = '';

		}

		function editItem(item_id, description) {
			console.log("Editing : " + description);
			// Show the category input field with the current category name
			document.getElementById('itemDiv').style.display = 'block';
			document.getElementById('item').value = description;
			document.getElementById('saveButton').style.display = 'none';
			document.getElementById('addItemButton').style.display = 'none';
			document.getElementById('toggleButton').style.display = 'block';
			document.getElementById('saveItemButton').style.display = 'block';
			isItemShown = true;
			currentItemName = description;
		}

		function saveEditLocation() {
			var locationId = document.getElementById('locationId').value
			var locn_brcd  = document.getElementById('locn_brcd').value 
			var locn_class = document.getElementById('locn_class').value
			var length     = document.getElementById('length').value 
			var width      = document.getElementById('width').value 
			var height     = document.getElementById('height').value
			var max_vol    = document.getElementById('max_vol').value 
			var max_qty    = document.getElementById('max_qty').value
			var max_weight = document.getElementById('max_weight').value


			console.log("Location : " + locn_brcd);
			const ajaxRequest = {
				url : 'locationEdit',
				type : 'put',
				data:{locn_id: locn_id,locn_brcd: locn_brcd,locn_class: locn_class,length: length,width: width,height: height,max_volume: max_volume,max_qty : max_qty,max_weight: max_weight},
				success : function(response, textStatus, xhr) {
					console.log("Status Code:", xhr.status
							+ ", Status Message " + textStatus);
					alert('Location edited successfully');
					
					isItemShown = false;
					location.reload();

				},
				error : function(response) {
					alert('Error editing Location');
					location.reload();
				}
			};

			$.ajax(ajaxRequest);
		}
		function confirmLocationDeletion(locn_id,locn_brcd, deleteFlag) {
			if (deleteFlag) {
//				const confirmation = window
//						.confirm(`Are you sure you want to delete category '${category_name}'?`);
//				if (confirmation) {
	//				deleteCategory(category_name);
			//	}
				 Swal.fire({
			            title: 'Are you sure?',
			            text: `Are you sure you want to delete location '${locn_brcd}'?`,
			            icon: 'warning',
			            showCancelButton: true,
			            confirmButtonColor: '#3085d6',
			            cancelButtonColor: '#d33',
			            confirmButtonText: 'Yes, delete it!',
			            cancelButtonText: 'No, cancel!'
			        }).then((result) => {
			            if (result.isConfirmed) {
			                deleteLocation(locn_brcd);
			            }
			        });
			    }
		}

		function deleteLocation(locn_brcd) {
			console.log(locn_brcd);

			// Proceed with deletion if user clicks "Yes" button
			$
					.ajax({
						url : '/api/deleteLocation/' + locn_brcd,
						type : 'delete',
						 success: function(response, textStatus, xhr) {
					            console.log("Status code:", xhr.status + ", " + textStatus);
					            Swal.fire('Deleted!', 'Location deleted successfully', 'success').then((result) => {
					                if (result.isConfirmed) {
					                    location.reload(); // Reload the page
					                }
					            });
					        },
	
					        error: function(response) {
					            Swal.fire('Error!', 'Error deleting Location', 'error');
					        }
					});
		}
	</script>
</body>
</html>
