<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>RF Menu</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <style>
      body {
        background-color: #f8f9fa;
        animation: colorchange 20s infinite;
      }

      .header {
        text-align: center;
        margin-bottom: 20px;
        color: #6c757d;
        font-size: 2em;
        text-shadow: 2px 2px #999999;
      }

      .list-group-item {
        font-size: 18px;
        border-radius: 20px;
        margin-bottom: 10px;
        transition: transform 0.2s;
      }

      .list-group-item:hover {
        transform: scale(1.05);
      }

      .btn-primary {
        width: 100%;
      }

      .topnav {
        overflow: visible;
        background-color: #333;
        display: flex;
        justify-content: space-around;
        align-items: center;
        position: relative;
        top: 0;
        width: 100%;
       /* add this line */
      }

      .topnav a {
        float: left;
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding: 20px 16px; /* Increase the vertical padding */
        text-decoration: none;
        font-size: 17px;
      }

      .topnav a:hover {
        background-color: #ddd;
        color: black;
      }

      .topnav a.active {
        background-color: royalblue;
        color: white;
      }

      .topnav .title {
        color: #f2f2f2;
        font-size: 20px;
        font-weight: bold;
      }

      .bi bi-person-circle{
	font-size: 10px;
 }
 /* .icon-container {
    display: flex;
    align-items: right;
   
} */

.icon-name {
    margin-left: 200px; /* Adjust spacing between icon and name */
    /* Add styles for the name (e.g., font-size, color) */
	color: white;
}
.title{
	margin-left: 579px;
}
.links{
	margin-left: 75px;
}
.dropdown {
            position: relative;
            display: inline-block;
			
        }

        .dropdown-button {
            background-color: #f9f9f9;
            border: none;
            padding: 10px;
            font-size: 14px;
            cursor: pointer;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #fff;
            min-width: 120px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
		
        }

        .dropdown-content a {
            color: #333;
            padding: 8px 12px;
            text-decoration: none;
            display: block;
			
        }

        .dropdown-content a:hover {
            background-color: #f5f5f5;
        }

.dropdown-menu {
/* background-color: aqua;	 */
	width: auto;
   /* padding: 0px 0px 0px 0px 0px !important; */
  z-index: 1000;
  overflow: auto;
}		
.dropdown-menu-left {
  left: auto !important;
  margin-left: -105px !important;
}
.dropdown-item {
	white-space: initial !important;
	margin-right: 10px;
	height: 60px !important;
	width: 160px;
	color: black !important;
}
.sidebar {
  background-color: #333;
  padding: 20px;
  height: 100vh;
  overflow-y: hidden;
  z-index: 1;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar li {
  margin-bottom: 10px;
}

.sidebar a {
  color: #fff;
  text-decoration: none;
}

.sidebar a:hover {
  color: #ccc;
}

.sidebar a.active {
  background-color: royalblue;
  color: #fff;
  border-radius: 20px;
}

.sidebar i {
  margin-right: 10px;
}

.collapse ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.collapse li {
  margin-bottom: 10px;
}

.collapse a {
  color: #fff;
  text-decoration: none;
  padding-left: 30px;
}

.collapse a:hover {
  color: #ccc;
}


    </style>
  </head>
  <body>
    <div class="topnav">
      <div class="links"> 
        <button style="background-color: #333;border: none;" class=" btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Menu</button>
        <div class="dropdown-menu dropdown-menu-left" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item dropdown-menu-main-content" th:each="menu : ${nav_menus}" th:href="@{${menu.menu_link}}" th:text="${menu.menu_name}" th:classappend="${#strings.contains(menu.menu_link, currentMenu) ? 'active' : ''}"></a>
         <!-- <a class="dropdown-item dropdown-menu-main-content" href="#orders">RF Menu</a>
          <a class="dropdown-item dropdown-menu-main-content" href="#reports">Category</a>
          <a class="dropdown-item dropdown-menu-main-content" href="#settings">Item</a>
          <a class="dropdown-item dropdown-menu-main-content" href="#orders">Location</a>
          <a class="dropdown-item dropdown-menu-main-content" href="#reports">LPN</a>
          <a class="dropdown-item dropdown-menu-main-content" href="#settings">Inventory</a> -->
          </div>
      </div>
      <div class="title">Warehouse Management System</div>
     <span class="icon-name" th:text="${user_name}"></span>
     &nbsp;&nbsp;&nbsp;&nbsp;
    
    <div class="dropdown">
      <button style="background-color: #333;border: none;" class=" btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="white" class="bi bi-person-circle" viewBox="0 0 16 16">
          <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
          <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
        </svg>
      </button>
      <div class="dropdown-menu dropdown-menu-left" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item"  href="#">Account</a>
        <a class="dropdown-item"th:href="@{${settings_url.menu_link}}"th:text="${settings_url.menu_name}"></a>
        <a class="dropdown-item" th:href="@{${logout_url.menu_link}}"th:text="${logout_url.menu_name}"  th:onclick="javascript:ajaxLogout('{{decodedToken}}')"></a>
      </div>
      </div>
      &nbsp;&nbsp;&nbsp;&nbsp;
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-2 sidebar">
          <h1 style="color: white;" class="header">Settings</h1>
          <!-- <ul class="nav flex-column" th:each="menu : ${menus}">
            <li class="nav-link active">
              <a
                class="nav-link active"
                th:href="@{${menu.menu_link}}"
                th:text="${menu.menu_name}"
              ></a>
            </li>
          </ul> -->
          <ul class="nav nav-pills nav-fill flex-column justify-content-center">
            <li class="nav-item" th:each="menu : ${side_menus}">
              <a class="nav-link" data-toggle="collapse" th:href="'#submenu-' + ${menu.menu_id}" role="button" aria-expanded="false" aria-controls="submenu1">
                <i class="fa fa-user" aria-hidden="true"></i> [[${menu.menu_name}]]<!--User Adminstration-->
              </a>
              <div class="collapse" th:id="'submenu-' + ${menu.menu_id}">
                <ul class="nav flex-column">
                  <li th:each="submenu : ${menu.children}" class="nav-item">
                    <a class="nav-link" href="" th:data-url="${submenu.menu_link}" onclick="loadContent(this.getAttribute('data-url')); return false;" >[[${submenu.menu_name}]]</a>
                  </li>
                </ul>
              </div>
            </li>
          </ul>
         
        </div> 
        <div class="col-md-10 main-content">
          <div id="content-container"></div>
        </div> 
      </div>  
    </div>
    <!-- JavaScript to load submenu content on click -->
     
    
    
    <script>
   function loadContent(url) {
  $.ajax({
    type: "GET",
    url: url,
    success: function(data) {
      $("#content-container").html(data);
    }
  });
}
    </script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  </body>
</html>
