<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Slotting Optimzation Configuration</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body {
	background-color: #f8f9fa;
}

.container {
	max-width: 960px;
	margin-top: 2rem;
	padding: 2rem;
	background-color: #fff;
	border-radius: 0.5rem;
	box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

table {
	margin-top: 2rem;
}

.table th, .table td {
	vertical-align: middle;
}

.form-group {
	margin-top: 2rem;
}

#saveCategoryButton, #toggleButton {
	display: inline-block;
	margin-right: 10px; /* Add a little space between buttons */
}

.topnav {
	overflow: visible;
	background-color: #333;
	display: flex;
	justify-content: space-around;
	align-items: center;
	position: sticky;
	top: 0;
	width: 100%;
}

.topnav a {
	float: left;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 20px 16px; /* Increase the vertical padding */
	text-decoration: none;
	font-size: 17px;
}

.topnav a:hover {
	background-color: #ddd;
	color: black;
}

.topnav a.active {
	background-color: royalblue;
	color: white;
}

.topnav .title {
	color: #f2f2f2;
	font-size: 20px;
	font-weight: bold;
}

.scrollable-container {
	width: 100%;
	height: 600px;
	overflow-y: auto;
}

.scrollable-container table {
	width: 100%;
}

.scrollable-container thead {
	position: sticky;
	top: 0;
	background-color: #f8f9fa;
	z-index: 0;
}

.bi bi-person-circle {
	font-size: 10px;
}
/* .icon-container {
         display: flex;
         align-items: right;
         } */
.icon-name {
	margin-left: 200px; /* Adjust spacing between icon and name */
	/* Add styles for the name (e.g., font-size, color) */
	color: white;
}

.title {
	margin-left: 579px;
}

.links {
	margin-left: 75px;
}

.dropdown {
	position: relative;
	display: inline-flex;
}

.dropdown-button {
	background-color: #f9f9f9;
	border: none;
	padding: 10px;
	font-size: 14px;
	cursor: pointer;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #fff;
	min-width: 120px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.dropdown-content a {
	color: #333;
	padding: 8px 12px;
	text-decoration: none;
	display: block;
}

.dropdown-content a:hover {
	background-color: #f5f5f5;
}

.dropdown-menu {
	/* background-color: aqua;	 */
	width: auto;
	position: relative;
	/* Ensure the submenu is positioned relative to the dropdown */

	/* padding: 0px 0px 0px 0px 0px !important; */
}

.dropdown-menu-left {
	left: auto !important;
	margin-left: -105px !important;
}

.dropdown-item {
	white-space: initial !important;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: -9px;
	margin-bottom: -9px;
	height: 80px !important;
	width: 160px;
	color: black !important;
}

.dropdown-menu-main-content {
	color: white;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: -9px;
	margin-bottom: -9px;
}

.arrow {
	float: right;
	font-size: 12px;
	margin-left: 10px;
}

.submenu-item {
	color: white;
	padding: 10px;
	display: block;
	text-decoration: none;
}

.submenu-item:hover {
	background-color: #575757;
}

.dropdown-menu {
	position: relative;
	/* Ensure the submenu is positioned relative to the dropdown */
}

.dropdown-item-container {
	position: relative;
	/* Position relative to allow absolute positioning of submenu */
}

.submenu {
	display: none;
	position: absolute;
	margin-top: 227%;
	left: 100%;
	background-color: #333;
	padding: 10px;
	border: 1px solid #333;
	width: 200px;
}

.dropdown-item-container:hover .submenu {
	display: block;
	/* Show the submenu when hovering over the parent item */
}

/* Custom styles for the alert */
.alert {
	padding: 1rem;
	margin: 1rem 0;
	border-radius: 0.25rem;
	font-weight: bold;
}

.alert-success {
	background-color: #d4edda;
	color: #155724;
	border: 1px solid #c3e6cb;
}

.alert-error {
	background-color: #f8d7da;
	color: #721c24;
	border: 1px solid #f5c6cb;
}
</style>
</head>
<body>
	<div class="topnav">
		<div class="links">
			<button style="background-color: #333; border: none"
				class="btn btn-secondary dropdown-toggle" type="button"
				id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
				aria-expanded="true">Menu</button>
			<div class="dropdown-menu dropdown-menu-left"
				aria-labelledby="dropdownMenuButton">
				<div th:each="menu : ${nav_menus}">
					<div class="dropdown-item-container">
						<a class="dropdown-item dropdown-menu-main-content"
							th:if="${menu != null and menu.menu_type != 'CHILD_UI'}"
							th:href="@{${menu.menu_link}}" th:text="${menu.menuName}"
							th:classappend="${#strings.contains(menu.menu_link ?: '', currentMenu ?: '') ? 'active' : ''}">
							<span th:if="${menu != null and menu.menu_type == 'PARENT_UI'}"
							class="arrow"> ▶ </span>
						</a>

						<!-- Submenu -->
						<div class="submenu"
							th:if="${menu != null and menu.menu_type != null and menu.menu_type == 'PARENT_UI'}">
							<a class="submenu-item" th:each="submenu : ${menu.children}"
								th:href="@{${submenu.menu_link}}" th:text="${submenu.menuName}"></a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="title">Warehouse Management System</div>
		<span class="icon-name" th:text="${user_name}"></span>
		<div class="dropdown">
			<button style="background-color: #333; border: none"
				class="btn btn-secondary dropdown-toggle" type="button"
				id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
				aria-expanded="true">
				<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30"
					fill="white" class="bi bi-person-circle" viewBox="0 0 16 16">
						<path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"></path>
						<path fill-rule="evenodd"
						d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"></path>
					</svg>
			</button>
			<div class="dropdown-menu dropdown-menu-left"
				aria-labelledby="dropdownMenuButton">

				<!-- <a class="dropdown-item"  href="#">Account</a> -->
				<a class="dropdown-item" th:href="@{${settings_url.menu_link}}"
					th:text="${settings_url.menuName}"></a> <a class="dropdown-item"
					th:href="@{${logout_url.menu_link}}"
					th:text="${logout_url.menuName}"
					th:onclick="javascript:ajaxLogout('{{decodedToken}}')"></a>
			</div>
		</div>
	</div>
	<div class="container">
		<h1 class="text-decoration">Slotting Optimization Configuration</h1>
		<input type="hidden" id="responseMessage"
			th:value="${responseMessage}"></input> <input type="hidden"
			id="locationRangeAddresponseMessage"
			th:value="locationRangeAddresponseMessage"></input>

		<!-- Multi-tabbed UI -->
		<ul class="nav nav-tabs" id="configTabs" role="tablist">
			<li class="nav-item"><a class="nav-link"
				th:classappend="${activeTab == 'locationRange' ? 'active' : ''}"
				id="location-range-tab" data-toggle="tab" href="#locationRange"
				role="tab">Location Range</a></li>
			<li class="nav-item"><a class="nav-link"
				th:classappend="${activeTab == 'actionType' ? 'active' : ''}"
				id="action-type-tab" data-toggle="tab" href="#actionTypeTab" role="tab">Action
					Type</a></li>
			<li class="nav-item"><a class="nav-link"
				th:classappend="${activeTab == 'slottingLogs' ? 'active' : ''}"
				id="slotting-logs-tab" data-toggle="tab" href="#slottingLogs"
				role="tab">Slotting Logs</a></li>
			<!-- <li class="nav-item"><a class="nav-link"
				th:classappend="${activeTab == 'itemNeededAssignment' ? 'active' : ''}"
				id="item-needed-tab" data-toggle="tab" href="#itemNeededAssignment" role="tab">Item
					Needed Assignment</a></li>-->
			<li class="nav-item"><a class="nav-link"
				th:classappend="${activeTab == 'runBatch' ? 'active' : ''}"
				id="run-batch" data-toggle="tab" href="#runBatch" role="tab">Run
					Batch</a></li>
		</ul>
		<div class="tab-content" id="configTabsContent">

			<!-- Location Range Tab -->
			<div class="tab-pane fade show active" id="locationRange"
				role="tabpanel">
				<div th:if="${locationRangeAddresponseMessage}"
					th:classappend="${locationRangeAddresponseMessage.startsWith('Error') ? 'alert alert-error' : 'alert alert-success'}"
					th:text="${locationRangeAddresponseMessage}"></div>
				<div th:if="${locationRangeUpdateresponseMessage}"
					th:classappend="${locationRangeUpdateresponseMessage.startsWith('Error') ? 'alert alert-error' : 'alert alert-success'}"
					th:text="${locationRangeUpdateresponseMessage}"></div>	
				<!-- Add and Delete Buttons -->
				<br>
				<div class="d-flex">
					<input data-toggle="modal" data-target="#exampleModal"
						type="button" class="btn btn-primary" value="Add Location Range"
						id="addLocationRangeButton">

				</div>
				<div class="scrollable-container">
					<table class="table table-striped">

						<!-- Existing table content -->
						<thead class="thead-dark">
							<tr>
								<th scope="col">ID</th>
								<th scope="col">Action Type</th>
								<th scope="col">Category</th>
								<th scope="col">From Location</th>
								<th scope="col">To Location</th>
								<th scope="col">Total Active Locations</th>
								<th scope="col">Used Active Locations</th>
								<th scope="col">Available Active Locations</th>
								<th scope="col">Is Active ?</th>
								<th scope="col">Action</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="range : ${locationRanges}">

								<td th:text="${range.id}"></td>
								<td th:text="${range.sopActionType.actionType}"></td>
								<td th:text="${range.category}"></td>
								<td th:text="${range.fromLocation}"></td>
								<td th:text="${range.toLocation}"></td>
								<td th:text="${range.totalActiveLocations}"></td>
								<td th:text="${range.usedActiveLocations}"></td>
								<td th:text="${range.avlActiveLocations}"></td>
								<td th:text="${range.isActive}"></td>
								<td>
									<!-- Edit Button with data attributes -->
									<input type="button" class="btn btn-secondary" 
									value="Edit" id="editLocationRangeButton"
									data-toggle="modal"
										data-target="#editExampleModal" 
										th:data-id="${range.id}"
										th:data-action-type="${range.sopActionType.actionType}"
										th:data-category="${range.category}"
										th:data-from-location="${range.fromLocation}"
										th:data-to-location="${range.toLocation}"
										th:data-total-active-locations="${range.totalActiveLocations}"
										th:data-used-active-locations="${range.usedActiveLocations}"
										th:data-avl-active-locations="${range.avlActiveLocations}"
										th:data-is-active="${range.isActive}"
										onclick="populateEditModal(this.getAttribute('data-id'), this.getAttribute('data-action-type'),this.getAttribute('data-category'),this.getAttribute('data-from-location'),this.getAttribute('data-to-location'),this.getAttribute('data-total-active-locations'),this.getAttribute('data-used-active-locations'),this.getAttribute('data-avl-active-locations'),this.getAttribute('data-is-active'))">
										
									<!-- Delete Form -->
									<form
										th:action="@{/api/sop/location-range/delete(id=${range.id})}"
										method="post" style="display: inline;">
										<button type="submit" class="btn btn-danger">Delete</button>
									</form>
								</td>
							</tr>
						</tbody>
					</table>
					<div class="modal fade" id="exampleModal" tabindex="-1"
						role="dialog" aria-labelledby="exampleModal"
						aria-hidden="true">
						<div class="modal-dialog" role="document"
							style="max-width: 800px;">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="exampleModal">Add
										Location Range</h5>
									<button type="button" class="close" data-dismiss="modal"
										aria-label="Close">
										<span aria-hidden="true">×</span>
									</button>
								</div>
								<form th:action="@{/api/sop/location-range/add}"
									th:object="${locationRange}" method="post">
									<div class="modal-body">
										<input type="hidden" name="activeTab" id="activeTab"
											value="locationRange" />
										<!-- Text fields for item details -->
										<div class="row">
											<div class="col">
												<div class="form-group">
													<label for="id">ID</label> <input type="text"
														class="form-control" id="id"  readonly="">
												</div>
												<div class="form-group">
													<label for="actionType">Action Type</label> <select
														class="form-control" name="sopActionType"
														id="actionType" >
														<option value="">Select Action Type</option>
														<option th:each="action : ${actionTypes}"
															th:value="${action.sopActionTypeId}"
															th:text="${action.actionType}"></option>
													</select>
												</div>
												<div class="form-group">
													<label for="category">Category</label> <input
														class="form-control" id="category" name="category"
														rows="3">
												</div>
											</div>
											<div class="col">
												<div class="form-group">
													<label for="fromLocation">From Location</label> <input
														class="form-control" id="fromLocation" name="fromLocation"
														rows="3">
												</div>
												<div class="form-group">
													<label for="toLocation">To Location</label> <input
														class="form-control" id="toLocation" name="toLocation"
														rows="3">
												</div>
												<div class="form-group">
													<label for="totalActiveLocations">Total Active
														Locations</label> <input class="form-control"
														id="totalActiveLocations" rows="3"
														name="totalActiveLocations" readonly="">
												</div>
											</div>
											<div class="col">
												<div class="form-group">
													<label for="usedActiveLocations">Used Active
														Locations</label> <input class="form-control"
														id="usedActiveLocations" name="usedActiveLocations"
														pattern="[0-9]{10}" rows="3" readonly="">
												</div>
												<div class="form-group">
													<label for="avlActiveLocations">Available Active
														Locations</label> <input class="form-control" value="0"
														id="avlActiveLocations" name="avlActiveLocations" rows="3"
														readonly="">
												</div>
												<div class="form-group">
													<label for="isActive">Is Active ?</label> <input
														class="form-control" id="isActive" name="isActive"
														rows="3">
												</div>
											</div>
										</div>
									</div>
									<div id="saveLocationrange" class="modal-footer">
										<button type="button" class="btn btn-secondary"
											data-dismiss="modal">Cancel</button>
										<button type="submit" class="btn btn-primary">Save</button>
									</div>
								</form>
							</div>
						</div>
					</div>

					<!-- Edit Location Range -->
					<div class="modal fade" id="editExampleModal" tabindex="-1"
						role="dialog" aria-labelledby="editExampleModal"
						aria-hidden="true">
						<div class="modal-dialog" role="document"
							style="max-width: 800px;">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="editExampleModal">Edit
										Location Range</h5>
									<button type="button" class="close" data-dismiss="modal"
										aria-label="Close">
										<span aria-hidden="true">×</span>
									</button>
								</div>
								<form th:action="@{/api/sop/location-range/update}"
									method="post">
									<div class="modal-body">
										<input type="hidden" name="activeTab" id="activeTab"
											value="locationRange" />
										 <!-- Text fields for item details -->
										<div class="row">
											<div class="col">
												<div class="form-group">
													<label for="edit-id">ID</label> <input type="text"
														class="form-control" id="edit-id" name="id"
														readonly="">
												</div>
												<div class="form-group">
													<label for="edit-actionType">Action Type</label> 
													<select
														class="form-control" id="edit-actionType"
														 name="actionType">
														<option value="">Select Action Type</option>
														<option th:each="action : ${actionTypes}"
															th:value="${action.sopActionTypeId}"
															th:text="${action.actionType}"></option>
													</select>
												</div>
												<div class="form-group">
													<label for="edit-category">Category</label> <input
														class="form-control" id="edit-category" name="category"
														rows="3">
												</div>
											</div>
											<div class="col">
												<div class="form-group">
													<label for="edit-fromLocation">From Location</label> <input
														class="form-control" id="edit-fromLocation"
														name="fromLocation" rows="3">
												</div>
												<div class="form-group">
													<label for="edit-toLocation">To Location</label> <input
														class="form-control" id="edit-toLocation"
														name="toLocation" rows="3">
												</div>
												<div class="form-group">
													<label for="edit-totalActiveLocations">Total Active
														Locations</label> <input class="form-control"
														id="edit-totalActiveLocations" rows="3"
														name="totalActiveLocations" readonly="">
												</div>
											</div>
											<div class="col">
												<div class="form-group">
													<label for="edit-usedActiveLocations">Used Active
														Locations</label> <input class="form-control"
														id="edit-usedActiveLocations" name="usedActiveLocations"
														pattern="[0-9]{10}" rows="3" readonly="">
												</div>
												<div class="form-group">
													<label for="edit-avlActiveLocations">Available
														Active Locations</label> <input class="form-control" value="0"
														id="edit-avlActiveLocations" name="avlActiveLocations"
														rows="3" readonly="">
												</div>
												<div class="form-group">
													<label for="edit-isActive">Is Active ?</label> <input
														class="form-control" id="edit-isActive" name="isActive"
														rows="3">
												</div>
											</div>
										</div>
									</div>
									<div id="saveLocationrange" class="modal-footer">
										<button type="button" class="btn btn-secondary"
											data-dismiss="modal">Cancel</button>
										<button type="submit" class="btn btn-primary">Save</button>
									</div>
								</form>
							</div>
						</div>
					</div>

				</div>
			</div>

			<!-- Action Type Tab -->
			<div class="tab-pane fade" id="actionTypeTab" role="tabpanel">
				<div class="scrollable-container">
					<table class="table table-striped">
						<thead class="thead-dark">
							<tr>
								<th scope="col">ID</th>
								<th scope="col">Action Type</th>
								<th scope="col">Action Description</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="action : ${actionTypes}">
								<td th:text="${action.sopActionTypeId}"></td>
								<td th:text="${action.actionType}"></td>
								<td th:text="${action.actionDesc}"></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>

			<!-- Slotting Logs Tab 
               <div class="tab-pane fade" id="slottingLogs" role="tabpanel">
                   <div class="scrollable-container">
                       <table class="table table-striped">
                           <thead class="thead-dark">
                               <tr>
                                   <th scope="col">#</th>
                                   <th scope="col">LPN</th>
                                   <th scope="col">Item</th>
                                   <th scope="col">Quantity</th>
                                   <th scope="col">Status</th>
                                   <th scope="col">Actions</th>
                               </tr>
                           </thead>
                           <tbody>
                               <tr th:each="log : ${slottingLogs}">
                                   <th scope="row" th:text="${log.id}"></th>
                                   <td th:text="${log.lpn}"></td>
                                   <td th:text="${log.item}"></td>
                                   <td th:text="${log.quantity}"></td>
                                   <td th:text="${log.status}"></td>
                                   <td>
                                       <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" 
                                           th:data-lpn-id="${log.lpnId}" th:data-lpn-name="${log.lpnName}" 
                                           th:data-description="${log.itemDescription}" th:data-quantity="${log.quantity}" 
                                           onclick="showLpn(this.getAttribute('data-lpn-id'), this.getAttribute('data-lpn-name'), 
                                           this.getAttribute('data-description'), this.getAttribute('data-quantity'))">
                                           View
                                       </button>
                                       <button th:data-lpn-id="${log.lpnId}" th:data-lpn-name="${log.lpnName}" 
                                           onclick="confirmDeallocateLpn(this.getAttribute('data-lpn-id'), this.getAttribute('data-lpn-name'), true)" 
                                           class="btn btn-danger">Deallocate</button>
                                   </td>
                               </tr>
                           </tbody>
                       </table>
                   </div>
               </div> -->
			<!-- Item Needed Assignment Tab 
               <div class="tab-pane fade" id="itemNeededAssignment" role="tabpanel">
                 <div class="scrollable-container">
                   <table class="table table-striped">
                     <thead class="thead-dark">
                       <tr>
                         <th scope="col">ID</th>
                         <th scope="col">Item Name</th>
                         <th scope="col">Quantity Needed</th>
                         <th scope="col">Assigned To</th>
                       </tr>
                     </thead>
                     <tbody>
                       <tr th:each="item : ${itemNeededAssignments}">
                         <td th:text="${item.id}"></td>
                         <td th:text="${item.itemName}"></td>
                         <td th:text="${item.quantityNeeded}"></td>
                         <td th:text="${item.assignedTo}"></td>
                       </tr>
                     </tbody>
                   </table>
                 </div>
               </div>-->
			<!-- Run Batch-->
			<div class="tab-pane fade" id="runBatch" role="tabpanel">
				<!-- Alert Message -->
				<div th:if="${responseMessage}"
					th:classappend="${responseMessage.startsWith('Error') ? 'alert alert-error' : 'alert alert-success'}"
					th:text="${responseMessage}"></div>
				<div class="scrollable-container">

					<table class="table table-striped">
						<thead class="thead-dark">
							<form th:action="@{/api/sop/runBatch}" method="post">
								<input type="hidden" name="activeTab" id="activeTab"
									value="runBatch" />

								<tr>
									<label for="action_type">Action Type</label>
									<select class="form-control" name="actionType">
										<option value="">Select Action Type</option>
										<option th:each="action : ${actionTypes}"
											th:value="${action.actionType}"
											th:text="${action.actionType}"></option>
									</select>
								</tr>
						</thead>
						<tbody>
							<td><label for="category">Category</label> <select
								class="form-control" name="category_name">
									<option value="">Select Category</option>
									<option th:each="category : ${categories}"
										th:value="${category.category_name}"
										th:text="${category.category_name}"></option>
							</select></td>

						</tbody>
						<td>
							<button class="btn btn-primary">Run Batch</button>
						</td>


						</form>
					</table>
				</div>
			</div>
		</div>
	</div>
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	<script type="text/javascript">
		function populateEditModal(id,actionType,category,fromLocation,toLocation,totalActiveLocations,usedActiveLocations,avlActiveLocations,isActive) {
			// Get data attributes from the button
			/*const id = button.getAttribute('data-id');
			const actionType = button.getAttribute('data-actionType');
			const category = button.getAttribute('data-category');
			const fromLocation = button.getAttribute('data-fromLocation');
			const toLocation = button.getAttribute('data-toLocation');
			const totalActiveLocations = button
					.getAttribute('data-totalActiveLocations');
			const usedActiveLocations = button
					.getAttribute('data-usedActiveLocations');
			const avlActiveLocations = button
					.getAttribute('data-avlActiveLocations');
			const isActive = button.getAttribute('data-isActive');*/
			// Set the values in the modal
			console.log(actionType);
			document.getElementById('edit-id').value = id;
			document.getElementById('edit-actionType').value = actionType;
			document.getElementById('edit-category').value = category;
			document.getElementById('edit-fromLocation').value = fromLocation;
			document.getElementById('edit-toLocation').value = toLocation;
			document.getElementById('edit-totalActiveLocations').value = totalActiveLocations;
			document.getElementById('edit-usedActiveLocations').value = usedActiveLocations;
			document.getElementById('edit-avlActiveLocations').value = avlActiveLocations;
			document.getElementById('edit-isActive').value = isActive;
			
			// Show the modal
			$('#editExampleModal').modal('show');
		}
	</script>

</body>
</html>