<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>User List</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style>
body {
	background-color: #f8f9fa;
}

.container {
	max-width: 960px;
	margin-top: 2rem;
	padding: 2rem;
	background-color: #fff;
	border-radius: 0.5rem;
	box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

table {
	margin-top: 2rem;
}

.table th, .table td {
	vertical-align: middle;
}

.form-group {
	margin-top: 2rem;
}

#saveCategoryButton, #toggleButton {
	display: inline-block;
	margin-right: 10px; /* Add a little space between buttons */
}

.topnav {
	overflow: visible;
	background-color: #333;
	display: flex;
	justify-content: space-around;
	align-items: center;
	position: sticky;
    top: 0;
    width: 100%;
}

.topnav a {
	float: left;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 20px 16px; /* Increase the vertical padding */
	text-decoration: none;
	font-size: 17px;
}

.topnav a:hover {
	background-color: #ddd;
	color: black;
}

.topnav a.active {
	background-color: royalblue;
	color: white;
}

.topnav .title {
	color: #f2f2f2;
	font-size: 20px;
	font-weight: bold;
}
.scrollable-container {
    width: 100%;
    height: 600px; 
    overflow-y: auto; 
}

  .scrollable-container table {
    width: 100%;
  }

  .scrollable-container thead {
    position: sticky;
    top: 0;
    background-color: #f8f9fa; 
	z-index: 0; 

  }

  .scrollable-container th {
   
  }
 
  .bi bi-person-circle{
	font-size: 10px;
 }
 /* .icon-container {
    display: flex;
    align-items: right;
   
} */

.icon-name {
    margin-left: 200px; /* Adjust spacing between icon and name */
    /* Add styles for the name (e.g., font-size, color) */
	color: white;
}
.title{
	margin-left: 579px;
}
.links{
	margin-left: 75px;
}
.dropdown {
            position: relative;
            display: inline-flex;
			
        }

        .dropdown-button {
            background-color: #f9f9f9;
            border: none;
            padding: 10px;
            font-size: 14px;
            cursor: pointer;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #fff;
            min-width: 120px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
		
        }

        .dropdown-content a {
            color: #333;
            padding: 8px 12px;
            text-decoration: none;
            display: block;
			
        }

        .dropdown-content a:hover {
            background-color: #f5f5f5;
        }

.dropdown-menu {
/* background-color: aqua;	 */
	width: auto;
   /* padding: 0px 0px 0px 0px 0px !important; */
}		
.dropdown-menu-left {
  left: auto !important;
  margin-left: -105px !important;
}
.dropdown-item {
	white-space: initial !important;
	margin-right: 0px;
	margin-top: -8px ;
	margin-bottom: -8px ;
	height: 80px !important;
	width: 160px;
	color: black !important;
}
.dropdown-menu-main{
	/* background-color: #333; */
	margin-left: 0px;
	height: 70px ;
	
}
.dropdown-menu-main-content{
color: white;
margin-left: 0px;	
}
</style>
</head>
<body>

	<body>
		
		
	<div class="container">
		
		<h1 class="text-center">User List</h1>
		<input type="hidden" id="responseMessage" th:value="${responseMessage}"></input>
		<!-- Category table -->
		<input style="width: 100px;" data-toggle="modal" data-target="#exampleModal" type="button" class="btn btn-primary" value="Add User" id="addItemButton" onclick="showButtons()">
		<div class="scrollable-container">
			<table class="table table-striped">
				<thead class="thead-dark">
					<tr>
						<th scope="col">User ID</th>
						<th scope="col">Full Name</th>
                        <th scope="col">Email</th>
						<th scope="col">Role</th>
                        <th scope="col">Permission</th>
                        <!-- <th scope="col">Status</th> -->
						<th scope="col">Actions</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="user : ${users}">
						<th scope="row" th:text="${user.user_id}"></th>
						<td th:text="${user.firstName}+' '+${user.middleName}+' '+${user.lastName}"></td>
						<td th:text="${user.email}"></td>
                        <td>
                            <span th:each="role : ${user.roles}">
                              <span th:text="${role.name}"></span>
                            </span>
                          </td>
                          <td>
                            <span th:each="role : ${user.roles}">
                              <span th:each="permission : ${role.permissions}">
                                <span th:text="${permission.name}"></span>
                              </span>
                            </span>
                          </td>
                        <!-- <td th:text="${user.roles.permissions}"></td> -->
                        <!-- <td th:text="${user.status}"></td> -->
                        
						<td>
							<button style="width: 60px;"type="button" class="btn btn-primary" data-toggle="modal"
								data-target="#exampleModal" 
								th:data-user-id="${user.user_id}"
								th:data-firstname="${user.firstName}"
                                th:data-middlename="${user.middleName}"
								th:data-lastname="${user.lastName}"
                                th:data-username="${user.username}"
                                th:data-email="${user.email}"
								th:data-roles="${user.roles?.![name]}"
								th:data-permissions-list="${user.roles.![permissions.![name]]}"
								onclick="showUser(this.getAttribute('data-user-id'),this.getAttribute('data-firstname'),this.getAttribute('data-middlename'),this.getAttribute('data-lastname'),
								this.getAttribute('data-username'),this.getAttribute('data-email'),this.getAttribute('data-roles'),this.getAttribute('data-permissions-list'), true)">
								View</button>

								<button style="width: 80px;"th:data-user-id="${user.user_id}" th:data-username="${user.username}"
								onclick="confirmItemDeletion(this.getAttribute('data-user-id'),this.getAttribute('data-fullname'), true)"
								class="btn btn-danger">Delete</button>
						</td>
					</tr>
				</tbody>
			</table>
			<!-- Modal -->
			<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">User Details</h5>
                <button type="button" class="close" data-dismiss="modal"
                    aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Text fields for item details -->
                <form id="itemForm">
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label for="userId">User ID</label> <input type="text"
                                    class="form-control" id="userId" readonly>
                            </div>
                            <div class="form-group">
                                <label for="firstname">First Name</label> <input type="text"
                                    class="form-control" id="firstname">
                            </div>
                            <div class="form-group">
                                <label for="middlename">Middle Name</label> <input type="text"
                                    class="form-control" id="middlename">
                            </div>
                           
                           
                        </div>
                        <div class="col">
                            
                            <div class="form-group">
                                <label for="lastname">Last Name</label> <input type="text"
                                    class="form-control" id="lastname">
                            </div>
                           
                            <div class="form-group">
                                <label for="username">Username</label> <input type="text"
                                    class="form-control" id="username">
                            </div>
                            <div class="form-group">
                                <label id="passwordlabel" for="password">Password</label> <input type="password"
                                    class="form-control" id="password">
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label for="email">Email</label> <input type="email"
                                    class="form-control" id="email">
                            </div>
                            
                            <div class="form-group" th:object="${roles}">
                                <label for="roles">Roles</label>
                                <input class="form-control" id="roles" rows="3"></input>
								<!-- <select class="form-control" id="roles" name="roles">
									<option value="">Select Role</option>
									<option th:each="category : ${categories}"
											th:value="${category.category_name}"
											th:text="${category.category_name}"></option>
								</select> -->
                            </div>
                            <div class="form-group">
                                <label for="permissions">Permissions</label> <input type="text"
                                    class="form-control" id="permissions">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div id= "saveItemButton" class="modal-footer">
                <button type="button" class="btn btn-secondary"
				onclick="canelViewItem()" data-dismiss="modal">Cancel</button>
                &nbsp;
                <button style="width: 60px;" id="saveButton" type="button" class="btn btn-primary"
                    onclick="saveItem()">Save</button>
            </div>
            
			<div id= "editItemButton" class="modal-footer">
                <button type="button" class="btn btn-secondary"
				onclick="canelViewEditItem()" data-dismiss="modal">Cancel</button>
                &nbsp;
                <button style="width: 60px;"  type="button" class="btn btn-primary"
                    onclick="saveEditItem()">Save</button>
            </div>
        </div>
    </div>
</div>

	
		</div>
		<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
		<script
			src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
		<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
		<script type='text/javascript'>
		
        function canelViewEditItem(){
            document.getElementById("password").style.display = 'block';
            document.getElementById("passwordlabel").style.display = 'block';
        }    

		function showButtons(){
			document.getElementById("editItemButton").style.display = 'none';
			document.getElementById("saveItemButton").style.display = 'block';
			canelViewItem();
		}
		

		var isButtonShown = false;
		var currentItemName = null;
		
		function canelViewItem(){
			document.getElementById('userId').value = null;
			const emptyFields = ['userId', 'firstname', 'middlename', 'lastname','username','password','email','roles','permissions']
			.filter(fieldId => !deColourFieldAndNull(fieldId));	
		}
		function showUser(user_id,firstname,middlename,lastname,username,email,roles,permissions ){
			const emptyFields = ['userId', 'firstname', 'middlename', 'lastname', 'email','roles','permissions']
			.filter(fieldId => !deColourFieldAndNull(fieldId));	
			document.getElementById('userId').value = user_id;
			document.getElementById('firstname').value = firstname;
			document.getElementById('middlename').value = middlename;
			document.getElementById('lastname').value = lastname;
            document.getElementById('username').value = username;
            document.getElementById("password").style.display = 'none';
            document.getElementById("passwordlabel").style.display = 'none';
            document.getElementById('email').value = email;
			document.getElementById('roles').value = roles;
			document.getElementById('permissions').value = permissions;
			document.getElementById("editItemButton").style.display = 'block';
			document.getElementById("saveItemButton").style.display = 'none';

		}
		function handleFormSubmission() {
         const emptyFields = ['firstname', 'middlename', 'lastname', 'email','password','username']
        .filter(fieldId => !validateField(fieldId));

		 if (emptyFields.length == 1) {
			console.log(emptyFields.length == 1);
			alert('One field is blank!');
			return true;
		 }
         else if (emptyFields.length > 1) {
             alert('More than one field is blank!');
             return true;
         }
		 else{
			return false;
		 }
		
}
function deColourFieldAndNull(fieldId){
	document.getElementById(fieldId).style.borderColor = 'grey';
	document.getElementById(fieldId).value = null;
 }
function validateField(fieldId) {
    const fieldValue = document.getElementById(fieldId).value;
	// console.log();
    if (fieldValue === '') {
        document.getElementById(fieldId).style.borderColor = 'red';
        return false;
    }
    return true;
}
// const formElement = document.getElementById('saveButton');
//     console.log(formElement);
//     formElement.addEventListener('click', function (event) {
		
//       event.preventDefault(); // Prevent default form submission
      
// });	
		function saveItem() {
			var user_id = document.getElementById('userId').value;
			var firstname = document.getElementById('firstname').value;
			var middlename = document.getElementById('middlename').value;
			var lastname = document.getElementById('lastname').value;
			var username = document.getElementById('username').value;
            var password = document.getElementById('password').value;
            var email = document.getElementById('email').value;
			const fields = [user_id,firstname,middlename,lastname,username,password,email];

			console.log("username : " + username);
			if (!handleFormSubmission()) {
				const ajaxRequest = {
            	url: 'userAdd',
            	type: 'post',
				data: {
				    firstname: firstname,
				    middlename: middlename,
				    lastname: lastname,
				    username: username,
                    password: password,
				    email: email
				},
            success: function (response, textStatus, xhr) {
                console.log("Status Code:", xhr.status + ", Status Message " + textStatus);
              			 var parser = new DOMParser();
						var xmlDoc = parser.parseFromString(xhr.responseText, "text/html");
						var targetTag = xmlDoc.querySelector("#responseMessage"); // Replace with your actual tag ID
						// console.log(xmlDoc);
						console.log('Response Message '+targetTag.value);
                    
					alert(targetTag.value);
                isItemShown = false;
                location.reload();
            },
            error: function (response) {
                alert('Error adding user');
                //location.reload();
            }
        };

        $.ajax(ajaxRequest);
			}
			//if (validateField('itemName') && validateField('category') && validateField('length') && validateField('width') && validateField('height')) {
        	
    //}
}
			
		function cancelEdit() {
		    // Hide the category input field, save button, and cancel button
		    document.getElementById('itemDiv').style.display = 'none';
		    document.getElementById('saveItemButton').style.display = 'none';
		    document.getElementById('toggleButton').style.display = 'none';

		    // Show the Add Category button
		    document.getElementById('addItemButton').style.display = 'block';
			document.getElementById('item').value = '';

		}

		function editItem(item_id, description) {
			console.log("Editing : " + description);
			// Show the category input field with the current category name
			document.getElementById('itemDiv').style.display = 'block';
			document.getElementById('item').value = description;
			document.getElementById('saveButton').style.display = 'none';
			document.getElementById('addItemButton').style.display = 'none';
			document.getElementById('toggleButton').style.display = 'block';
			document.getElementById('saveItemButton').style.display = 'block';
			isItemShown = true;
			currentItemName = description;
		}

		function saveEditItem() {
			var user_id = document.getElementById('userId').value;
			var firstname = document.getElementById('firstname').value;
			var middlename = document.getElementById('middlename').value;
			var lastname = document.getElementById('lastname').value;
			var username = document.getElementById('username').value;
            var email = document.getElementById('email').value;


			console.log("Item Description : " + description);
			if (!handleFormSubmission()) {
			const ajaxRequest = {
				url : 'itemEdit',
				type : 'put',
				data:{description: description,category: category,length: length,width: width,height: height },
				success : function(response, textStatus, xhr) {
					console.log("Status Code:", xhr.status
							+ ", Status Message " + textStatus);
							var parser = new DOMParser();
						var xmlDoc = parser.parseFromString(xhr.responseText, "text/html");
						var targetTag = xmlDoc.querySelector("#responseMessage"); // Replace with your actual tag ID
						// console.log(xmlDoc);
						console.log('Response Message '+targetTag.value);
                    
					alert(targetTag.value);
					
					isItemShown = false;
					location.reload();

				},
				error : function(response) {
					alert('Error editing item');
					location.reload();
				}
			};

			$.ajax(ajaxRequest);
		}
		
		}
		function confirmItemDeletion(item_id,description, deleteFlag) {
			if (deleteFlag) {
//				const confirmation = window
//						.confirm(`Are you sure you want to delete category '${category_name}'?`);
//				if (confirmation) {
	//				deleteCategory(category_name);
			//	}
				 Swal.fire({
			            title: 'Are you sure?',
			            text: `Are you sure you want to delete item '${description}'?`,
			            icon: 'warning',
			            showCancelButton: true,
			            confirmButtonColor: '#3085d6',
			            cancelButtonColor: '#d33',
			            confirmButtonText: 'Yes, delete it!',
			            cancelButtonText: 'No, cancel!'
			        }).then((result) => {
			            if (result.isConfirmed) {
			                deleteCategory(description);
			            }
			        });
			    }
		}

		function deleteCategory(description) {
			console.log(description);

			// Proceed with deletion if user clicks "Yes" button
			$
					.ajax({
						url : '/api/deleteItem/' + description,
						type : 'delete',
						 success: function(response, textStatus, xhr) {
					            console.log("Status code:", xhr.status + ", " + textStatus);
					            Swal.fire('Deleted!', 'Item deleted successfully', 'success').then((result) => {
					                if (result.isConfirmed) {
					                    location.reload(); // Reload the page
					                }
					            });
					        },
	
					        error: function(response) {
					            Swal.fire('Error!', 'Error deleting Item', 'error');
					        }
					});
		}
	
	</script>
</body>
</html>
